<header>
	<nav class="navbar fixed-top navbar-expand-lg bg-primary">
		<div class="container-fluid">
			<a
				class="navbar-brand"
				href="/"
				>PoolCar</a
			>

			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a
						class="nav-link"
						href="/about"
						>About</a
					>
				</li>
				<li class="nav-item">
					<a
						class="nav-link"
						href="/contact"
						>Contact</a
					>
				</li>

				<li class="nav-item">
					<a
						class="nav-link"
						href="/login"
						>Accedi</a
					>
				</li>
			</ul>
		</div>
	</nav>
</header>
